<template name="nav">
	<div class="sixteen wide column">

		<div class="ui transparent inverted main menu">
			<a class="item" href="{{pathFor 'all'}}">All News</a>

			<a class="item technology" href="{{pathFor 'technology'}}">Technology</a>
			<a class="item business" href="{{pathFor 'business'}}">Business</a>
			<a class="item science" href="{{pathFor 'science'}}">Science</a>
			<a class="item entertainment" href="{{pathFor 'entertainment'}}">Entertainment</a>
			<a class="item health" href="{{pathFor 'health'}}">Health</a>
			<a class="item world" href="{{pathFor 'world'}}">World</a>
			<a class="item sports" href="{{pathFor 'sports'}}">Sports</a>
		</div>
	</div>
</template>