<template name="nav">
	<div class="sixteen wide column">

		<div class="ui transparent inverted main menu">
			<div class="header item">Google News Scraped</div>

			<a class="item technology" href="#">Technology</a>
			<a class="item business" href="#">Business</a>
			<a class="item science" href="#">Science</a>
			<a class="item entertainment" href="#">Entertainment</a>
			<a class="item health" href="#">Health</a>
			<a class="item world" href="#">World</a>
			<a class="item sports" href="#">Sports</a>
		</div>
	</div>
</template>