<template name="world">


	{{returnCount}}



	<div class="ui three column page grid">
		{{#each returnLinks}}
		<div class="column">
			<div class="ui segment">
				<div class="picBox">

					<div class="source">{{source}}</div>

					<div class="title"><a href="{{link}}">{{title}}</a></div>
				

					<img onerror="this.style.display='none'" src="{{imageUrl}}" />
					 <div class="description">{{description}}</div>
														 <div class="timestamp">{{timestamp}}</div>


				</div>

			</div>
		</div>
		{{/each}}
	</div>

</template>